<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="edu.ucla.cens.andwellness"
	android:versionCode="11170300" android:versionName="2.1.0">
    
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
	<uses-permission android:name="android.permission.ACCESS_CELL_ID" />
	<uses-permission android:name="android.permission.CONTROL_LOCATION_UPDATES"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	
    <application android:name=".AndWellnessApplication" android:icon="@drawable/icon" android:label="@string/app_name">

		<activity android:name=".activity.SurveyActivity" android:launchMode="standard"
			android:windowSoftInputMode="adjustResize" android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
			<!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		--></activity>
		
		<activity android:name=".activity.SurveyListActivity" android:theme="@android:style/Theme.Light" android:label="AndWellness Surveys"
			android:taskAffinity="" android:launchMode="singleTask" android:clearTaskOnLaunch="true">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
		
		<receiver android:name=".service.TriggerNotificationReceiver">
    		<intent-filter>
        		<action android:name="edu.ucla.cens.andwellness.triggers.TRIGGER_NOTIFICATION"/>
        	</intent-filter>
    	</receiver>
    
    <activity android:name=".activity.LoginActivity" android:label="AndWellness Login">
    </activity>
    
    <activity android:name=".activity.StatusActivity" android:label="AndWellness Status">
    </activity>
    
    <receiver android:name=".service.BootReceiver">
    	<intent-filter>
    		<action android:name="android.intent.action.BOOT_COMPLETED"/>
    	</intent-filter>
    </receiver>
        
    <service android:name=".service.UploadService"/>
    	
	<receiver android:name=".service.UploadReceiver">
		<intent-filter>
    		<action android:name="edu.ucla.cens.andwellness.service.ACTION_UPLOAD_ALARM"/>
    	</intent-filter>
    	<intent-filter>
    		<action android:name="edu.ucla.cens.andwellness.storagemonitor.ACTION_STORAGE_REPORT"/>
    	</intent-filter>
    </receiver>
    
    <service android:name=".service.SurveyGeotagService"/>
    
 	<receiver android:name=".service.SurveyGeotagTimeoutReceiver">
		<intent-filter>
    		<action android:name="edu.ucla.cens.andwellness.service.ACTION_GEOTAG_TIMEOUT_ALARM"/>
    	</intent-filter>
    </receiver>
    
    <receiver android:name=".appwidget.AndWellnessAppWidgetProvider" >
	    <intent-filter>
	        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    </intent-filter>
	    <meta-data android:name="android.appwidget.provider"
	               android:resource="@xml/andwellness_appwidget_info" />
	</receiver>
    
    <activity android:name=".storagemonitor.StorageMonitorSettingsActivity"
                  android:label="Storage Monitor">
    </activity>
    
    <service android:name=".appwidget.StressButtonService"/>
    
    <service android:name=".storagemonitor.StorageMonitorService"/>
    
    <receiver android:name=".storagemonitor.StorageMonitorAlarmReceiver">
    	<intent-filter>
    		<action android:name="edu.ucla.cens.andwellness.storagemonitor.ACTION_STORAGE_MONITOR_ALARM"/>
    	</intent-filter>
    </receiver>
        
        
        <!-- 
        ******************************************************
        TRIGGER STUFF START!!
        ******************************************************
        -->
        
    <activity android:name=".triggers.ui.TriggerListActivity" />
            
    
    <!-- Lock the orientation until the TimePicker rotate bug is fixed -->
    <activity android:name=".triggers.types.time.TimeTrigEditActivity"
    			  android:screenOrientation="portrait"/>
		
    <activity android:name=".triggers.notif.NotifEditActivity"/>
		
    <!-- Lock the orientation until the TimePicker rotate bug is fixed -->
		<activity android:name=".triggers.types.location.LocTrigEditActivity"
				  android:screenOrientation="portrait"/>
		
    <activity android:name=".triggers.types.location.LocTrigSettingsActivity"/>
	<activity android:name=".triggers.types.location.LocTrigTracingSettActivity"/>
    <activity android:name=".triggers.types.location.LocTrigMapsActivity"
				  android:screenOrientation="portrait"/>
		
		<receiver android:name=".triggers.base.TriggerInit">
			<intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
		</receiver>
		
		<receiver android:name=".triggers.base.TriggerTimeReceiver">
	    	<intent-filter>
	    		<action android:name="android.intent.action.TIME_SET" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="android.intent.action.TIMEZONE_CHANGED" />
	    	</intent-filter>
		</receiver>
		
		<service android:name=".triggers.types.time.TimeTrigService"/>
		
    <receiver android:name=".triggers.types.time.TimeTrigService$AlarmReceiver">
	    	<intent-filter>
	    		<action android:name="edu.ucla.cens.triggers.types.time.TimeTriggerAlarm" />
	    		<data android:scheme="timetrigger" />
	    	</intent-filter>
		</receiver>
		
		<service android:name=".triggers.types.location.LocTrigService"/>
		
    <receiver android:name=".triggers.types.location.LocTrigService$AlarmReceiver">
	    	<intent-filter>
	    		<action android:name="edu.ucla.cens.andwellness.triggers.types.location.LocTrigService.TRIGGER_ALWAYS" />
	    		<data android:scheme="locationtrigger" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="edu.ucla.cens.andwellness.triggers.types.location.LocTrigService.KEEP_ALIVE" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="edu.ucla.cens.andwellness.triggers.types.location.LocTrigService.GPS_TIMEOUT" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="edu.ucla.cens.andwellness.triggers.types.location.LocTrigService.GPS_SAMPLE" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="edu.ucla.cens.andwellness.triggers.types.location.LocTrigService.PASS_THROUGH" />
	    	</intent-filter>
		</receiver>
		
		<receiver android:name=".triggers.notif.Notifier$NotifReceiver">
	    	<intent-filter>
	    		<action android:name="edu.ucla.cens.triggers.notif.Notifier.expire_notif" />
	    		<data android:scheme="notifier" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="edu.ucla.cens.triggers.notif.Notifier.repeat_notif" />
	    		<data android:scheme="notifier" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="edu.ucla.cens.triggers.notif.Notifier.notification_deleted" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="edu.ucla.cens.triggers.notif.Notifier.notification_clicked" />
	    	</intent-filter>
		</receiver>
		
		<uses-library android:name="com.google.android.maps" />
		
		<!-- 
        ******************************************************
        TRIGGER STUFF END!!
        ******************************************************
        -->
		
    
    <!-- 
        ******************************************************
        MOBILITY STUFF START!!
        ******************************************************
        -->
    
     
    
    <!-- 
        ******************************************************
        MOBILITY STUFF END!!
        ******************************************************
        -->
	</application>
	
    <uses-sdk android:minSdkVersion="3" />

	
</manifest> 