<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mobilizingcs"
    android:versionCode="13011100"
    android:versionName="2.14" >
    
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
	<uses-permission android:name="android.permission.ACCESS_CELL_ID" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" /> 
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.BROADCAST_STICKY"/>
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>

	<application
		android:name="org.ohmage.OhmageApplication"
		android:theme="@style/OhmageTheme"
		android:icon="@drawable/icon"
		android:label="@string/app_name">

		<activity android:name="org.ohmage.activity.OhmageLauncher">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="org.ohmage.activity.LoginActivity" />
		<activity android:name="org.ohmage.activity.DashboardActivity"
			android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>

		<activity
			android:name="org.ohmage.ui.ImageLoaderActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
			<intent-filter>
				<action android:name="org.ohmage.action.VIEW_REMOTE_IMAGE" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="http" />
				<data android:scheme="https" />
			</intent-filter>
		</activity>

		<activity android:name="org.ohmage.activity.SendLogActivity">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<!-- 
		================================================
		=== dashboard-level activities (and direct sub-activities)
		================================================
		-->
		<activity
			android:name="org.ohmage.activity.SurveyActivity"
			android:launchMode="standard"
			android:windowSoftInputMode="adjustResize" />

		<activity android:name="org.ohmage.activity.SurveyListActivity" android:label="@string/title_surveys" 
					android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>

		<activity android:name="org.ohmage.activity.CampaignListActivity" android:label="@string/title_campaigns" 
					android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden">
			<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.ohmage.campaign" />
            </intent-filter>
		</activity>

		<activity android:name="org.ohmage.activity.CampaignAddActivity" android:label="@string/title_add_campaign" 
					android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>

		<activity
			android:name="org.ohmage.activity.UploadQueueActivity"
			android:label="@string/title_upload_queue"
			android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
			android:launchMode="singleTask" />

		<activity android:name="org.ohmage.activity.ProfileActivity" android:label="@string/title_profile" 
					android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>
					
		<activity android:name="org.ohmage.activity.MobilityActivity" android:label="@string/title_mobility" 
					android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"
					android:launchMode="singleTask">
			<intent-filter>
				<action android:name="edu.ucla.cens.mobility.control"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
          
		<activity android:name="org.ohmage.activity.OhmagePreferenceActivity" android:theme="@android:style/Theme.Black" />
		<activity android:name="org.ohmage.activity.AdminSettingsActivity" android:theme="@android:style/Theme.Black" />

		<!-- 
		================================================
		=== entity info activities
		================================================
		-->
		<activity android:name="org.ohmage.activity.CampaignInfoActivity" android:label="@string/title_campaign_info"
					android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden">
	    	<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.ohmage.campaign" />
            </intent-filter>
		</activity>
		
		<activity android:name="org.ohmage.activity.SurveyInfoActivity" android:label="@string/title_survey_info"
					android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden">
	    	<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.ohmage.survey" />
            </intent-filter>
		</activity>
		
	    <activity android:name="org.ohmage.activity.ResponseInfoActivity" android:label="@string/title_response"
	    			android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden">
	    	<intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.ohmage.response" />
            </intent-filter>
		</activity>
		
		<!-- 
		================================================
		=== special-purpose activities
		================================================
		-->

		<activity android:name="org.ohmage.activity.HelpActivity" android:label="@string/title_help"
					android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>

		<activity android:name="org.ohmage.activity.ResponseInfoMapActivity" android:label="@string/title_response"
					android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden">
			<intent-filter>
                <action android:name="ohmage.intent.action.VIEW_MAP" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.ohmage.response" />
            </intent-filter>
		</activity>
		
		<activity android:name="org.ohmage.activity.ResponseHistoryActivity" android:label="@string/title_response_history" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>

		<activity android:name="org.ohmage.activity.ResponseListActivity" android:label="@string/title_response_history" android:screenOrientation="portrait" android:configChanges="orientation|keyboardHidden"/>

		<activity android:name="org.ohmage.activity.LauncherActivity" android:label="@string/app_name">
			<!--
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             -->
		</activity>

		<!-- allows queries against the contentprovider to be tested -->
		<activity android:name="org.ohmage.activity.QueryTestActivity" android:label="@string/app_name"
			android:windowSoftInputMode="adjustResize" android:theme="@android:style/Theme.Light">
		</activity>
		
		<receiver android:name="org.ohmage.service.TriggerNotificationReceiver">
    		<intent-filter>
        		<action android:name="org.ohmage.triggers.TRIGGER_NOTIFICATION"/>
        	</intent-filter>
    	</receiver>
    
	    <activity android:name="org.ohmage.activity.StatusActivity">
	    </activity>

	    <receiver android:name="org.ohmage.service.BootReceiver">
	    	<intent-filter>
	    		<action android:name="android.intent.action.BOOT_COMPLETED"/>
	    	</intent-filter>
<!-- 	    	<intent-filter>
				<action android:name="edu.ucla.cens.Updater.Installer.AppInstalled"/>
				<action android:name="edu.ucla.cens.Updater.Installer.AppReinstalled"/>
				<data android:scheme="package" android:host="org.ohmage"/>
			</intent-filter> -->
	    </receiver>
	    
	    <receiver android:name="org.ohmage.service.TriggerReceiver">
			<intent-filter>
	    		<action android:name="org.ohmage.triggers.SURVEY_LIST_CHANGED"/>
	    	</intent-filter>
	    </receiver>
	        
	    <service android:name="org.ohmage.service.UploadService"/>
	    <service android:name="org.ohmage.service.ProbeUploadService"/>
    	
		<receiver android:name="org.ohmage.service.SyncReceiver">
			<intent-filter>
			<action android:name="org.ohmage.service.ACTION_SYNC_ALARM"/>
	    	</intent-filter>
	    </receiver>
	    
	    <service android:name="org.ohmage.service.SurveyGeotagService"/>

	    <activity android:name="org.ohmage.activity.AdminPincodeActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />
	    <activity android:name="org.ohmage.activity.ErrorDialogActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 
        ******************************************************
        TRIGGER STUFF START!!
        ******************************************************
        -->
        
    	<activity android:name="org.ohmage.triggers.ui.TriggerListActivity" />

    	<!-- Lock the orientation until the TimePicker rotate bug is fixed -->
    	<activity android:name="org.ohmage.triggers.types.time.TimeTrigEditActivity"
    			  android:screenOrientation="portrait"/>
		
    	<activity android:name="org.ohmage.triggers.notif.NotifEditActivity"/>
    	
    	<activity android:name="org.ohmage.triggers.notif.NotifSettingsActivity"/>
		
	    <!-- Lock the orientation until the TimePicker rotate bug is fixed -->
		<activity android:name="org.ohmage.triggers.types.location.LocTrigEditActivity"
					  android:screenOrientation="portrait"/>
		
	    <activity android:name="org.ohmage.triggers.types.location.LocTrigSettingsActivity"/>
		<activity android:name="org.ohmage.triggers.types.location.LocTrigTracingSettActivity"/>
	    <activity android:name="org.ohmage.triggers.types.location.LocTrigMapsActivity"
					  android:screenOrientation="portrait"/>
		
		<receiver android:name="org.ohmage.triggers.base.TriggerTimeReceiver">
	    	<intent-filter>
	    		<action android:name="android.intent.action.TIME_SET" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="android.intent.action.TIMEZONE_CHANGED" />
	    	</intent-filter>
		</receiver>
		
		<service android:name="org.ohmage.triggers.types.time.TimeTrigService"/>
		
    	<receiver android:name="org.ohmage.triggers.types.time.TimeTrigService$AlarmReceiver">
	    	<intent-filter>
	    		<action android:name="edu.ucla.cens.triggers.types.time.TimeTriggerAlarm" />
	    		<data android:scheme="timetrigger" />
	    	</intent-filter>
		</receiver>
		
		<service android:name="org.ohmage.triggers.types.location.LocTrigService"/>
		
    	<receiver android:name="org.ohmage.triggers.types.location.LocTrigService$AlarmReceiver">
	    	<intent-filter>
	    		<action android:name="org.ohmage.triggers.types.location.LocTrigService.TRIGGER_ALWAYS" />
	    		<data android:scheme="locationtrigger" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="org.ohmage.triggers.types.location.LocTrigService.KEEP_ALIVE" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="org.ohmage.triggers.types.location.LocTrigService.GPS_TIMEOUT" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="org.ohmage.triggers.types.location.LocTrigService.GPS_SAMPLE" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="org.ohmage.triggers.types.location.LocTrigService.PASS_THROUGH" />
	    	</intent-filter>
		</receiver>
		
		<receiver android:name="org.ohmage.triggers.notif.Notifier$NotifReceiver">
	    	<intent-filter>
	    		<action android:name="edu.ucla.cens.triggers.notif.Notifier.expire_notif" />
	    		<data android:scheme="notifier" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="edu.ucla.cens.triggers.notif.Notifier.repeat_notif" />
	    		<data android:scheme="notifier" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="edu.ucla.cens.triggers.notif.Notifier.notification_deleted" />
	    		<data android:scheme="notifier" />
	    	</intent-filter>
	    	<intent-filter>
	    		<action android:name="edu.ucla.cens.triggers.notif.Notifier.notification_clicked" />
	    		<data android:scheme="notifier" />
	    	</intent-filter>
		</receiver>
		
		<uses-library android:name="com.google.android.maps" />
		
		<!-- 
        ******************************************************
        TRIGGER STUFF END!!
        ******************************************************
        -->
		
    
    	<!-- 
        ******************************************************
        MOBILITY STUFF START!!
        ******************************************************
        -->
    
     
    
    	<!-- 
        ******************************************************
        MOBILITY STUFF END!!
        ******************************************************
        -->
        
        <!--
        ******************************************************
        Feedback: collection service and receiver
        ******************************************************
        -->       

	    <service android:name="org.ohmage.responsesync.ResponseSyncService" />

	    <provider android:name="org.ohmage.db.DbProvider"
	    	android:authorities="org.mobilizingcs.db">
	    </provider>

		<!--
		******************************************************
		Feedback: activities
		******************************************************
		-->

		<uses-library android:name="com.google.android.maps" />

		<service
            android:name="org.ohmage.probemanager.ProbeManager"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.ohmage.probemanager.ACTION_WRITE_PROBE" />
            </intent-filter>
        </service>

        <provider
            android:name="org.ohmage.probemanager.ProbeContentProvider"
            android:authorities="org.mobilizingcs.probemanager"
            android:enabled="true"
            android:exported="true" >
	    </provider>

	</application>
</manifest> 